body {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

.img-reponsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Landscape phones and down */

@media (max-width: 480px) {
  .top {
    padding: 20px;
  }
  .title {
    width: 100%;
    text-align: right;
  }
  .bigimage {
    margin: 0px;
    overflow: hidden;
  }
  .featuredwork {
    padding: 0 auto;
    margin: 0 auto;
  }
  .work {
     margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 53px;
  }
  h2 {
    font-size: 30px;
    color: #008080;
  }
  h3 {
    font-size: 20px;
    color: #008080;
    text-align: center;
	margin-left: 10px;
	margin-right: 10px;
  }
  h4 {
    font-size: 32px;
    color: #2f4f4f
  }
  a href {
    font-size: 16px;
    color: #2f4f4f
  }
  .img-reponsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
.top {
  padding: 20px;

}

.title {
 width: 100%;
text-align: right;
}

.bigimage {
  margin: 0px;
  overflow: hidden;
  padding: center;
}

.featuredwork {
  padding: 0 auto;
  margin: 0 auto;
}

.work {
  margin: 0 auto;
  margin-right: 10px;
  margin-left: 10px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 35px;
  color: #008080;
}
h3{
   font-size:23px;
  color: #008080;
  	margin-left: 10px;
	margin-right: 10px;
}

h4 {
  font-size: 32px;
  color: #2f4f4f
}

a href {
  font-size: 16px;
  color: #2f4f4f
}