body {
  font-family: "Libre Baskerville", serif;
}

.img-reponsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.logo {
  width: 50%;
  height: 50%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.navcolor {
  font: 20px 'Open Sans Condensed', sans-serif;
}

/* Landscape phones and down */

@media (max-width: 480px) {

  .top {
    padding: 20px;
  }

  .title {
    width: 100%;
    text-align: right;
  }

  .bigimage {
    overflow: hidden;
    display: block;
  }

  .featuredwork {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 53px;
  }

  h2 {
    font-size: 30px;
    color: #008080;
  }

  h3 {
    font-size: 20px;
    color: #008080;
    text-align: center;
  }

  h4 {
    font-size: 32px;
    color: #2f4f4f;
  }

  a {
    font-size: 16px;
    color: #2f4f4f;
  }

  p {
    font-size: 16px;
    color: #2f4f4f;
  }

  .col-sm-6,
  .col-md-4 {
    padding: 0;
    margin: 0;
  }

  .img-reponsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }
}

.row {
  display: flex;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.top {
  padding: 20px;
  margin: 30px 0;
}

.title {
  width: 100%;
  text-align: right;
}

.bigimage {
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.featuredwork {
  padding: 0;
  margin: 0;
}

.work {
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 35px;
  color: #008080;
}

h3 {
  font-size: 23px;
  color: #008080;
  margin: 0 10px;
}

h4 {
  font-size: 32px;
  color: #2f4f4f
}

a {
  font-size: 12px;
  color: #2f4f4f
}

p {
  font-size: 16px;
  color: #2f4f4f
}

.thumbnail {
  margin: 0;
  padding: 0;
}
